.Waiter {
    display: grid;
    grid-template-rows: 30% auto;
    justify-items: center;
}

.Waiter > .Logo{
    width: 30%;
}

.table {
  display: flex;
  justify-content: space-around;
  margin: 5% auto;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.item-Table {
    padding: 10px 80px;
}

.icon-Table {
  font-size: 60px !important;
}


@media screen and (max-width: 860px) {
    .item-Table {
        padding: 5px 30px;
    }
  }
