.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Logo {
  pointer-events: none;
  position: relative;
  text-align: none;
  width: 100%;
  padding-top: 40%;
  padding-left: 10%;
}

.Burguer {
    position: absolute;
}

.Login {
  display: grid;
  grid-template-columns: 40% 60%;
}

.LoginForm {
    border-radius: 20px;
    flex-direction: column;
    position: relative;
    display: flex;
    flex-flow:column wrap;
    align-items: center;
    align-content: center;
    padding-top: 40%;
}
.loginInput{
    border-radius: 10px;
    padding: 5px;
    border: none;
    margin-bottom: 0.3rem;
    align-self: center;
    width: 290px;
    height: 2.8rem;
}

.btnLogin{
    color: #595050;
    background-color: #DDCD3D;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 2.8rem;
    padding: 0;
    margin-top: 1rem;
}

.btnClear{
  color: #595050;
  background-color: #DDCD3D;
  border: none;
  border-radius: 5px;
}

